{% extends "base.html" %}   
<!DOCTYPE html>


{% block content %}
   

 
  <header >
    <div class="container px-4 text-center">
        {%load static%}
                <img src="{% static './images/FullLogo_Transparent.png'%}" class="img-fluid" 
                alt="Logo"
                width="50%"  >
        <br/>
    </div>
</header>
</p>


</article>
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <!-- <h2>About this page</h2> -->
                <p class="lead">We aim to be the go-to provider of secure and cost-effective fuel delivery services at our client's convenience.</p>
              
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="services">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Services we offer</h2>
                <ul>
                    <li>Quality Fuel To any Location</li>
                    <li>Car wash</li>
                    <li>Oil Change</li>
                </ul>
            </div>
        </div>
    </div>
</section>



<footer class="py-5 bg-dark">
  <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

  
  {% endblock content %}


